<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar> 
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-img src="https://img.freepik.com/vetores-premium/personagens-humanos-multirraciais-catando-lixo-na-praia-durante-a-limpeza-costeira-ilustracao-plana-dos-desenhos-animados_87771-6814.jpg?w=2000"></ion-img>
  <ion-text color="primary">
    <h1>Descarte Rápido</h1>
  </ion-text>
  <p>
    <ion-text color="warning"><ion-icon name="heart-circle-outline"></ion-icon></ion-text>
    Parabéns! Voce está prestes a colocar a "tal sustentabilidade" na prática.
    <br> <br> 
    O descarte rapido conecta geradores de resíduos aos profissionais de reciclagem. O app aumenta a renda dos
    catadores e amplia as taxas de reciclagem. Tudo isso numa tacada só!

    <ion-nav></ion-nav>
</ion-content>



